body {
    width: 100%;
    height: 100vh;
    background-color: #111;
    background-image: ;
    color: #fff;
}

a {
    display: flex;
    color:aqua;
}

a:hover {
    color: violet;
}

.home {
    color:aqua;
}